/* Contact Page Styles */

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73vh;
}

.card.contact-form {
    background: #1f1f1f;
    padding: 45px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    width: 90%;
    text-align: left;
    transition: none;
}

.card.contact-form:hover {
    transform: none;
    cursor: default;
}

.card.contact-form h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #ffffff;
}

.card.contact-form p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #e0e0e0;
}

.card.contact-form label {
    display: block;
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 2px;
    color: #e0e0e0;
}

.card.contact-form input,
.card.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #555;
    border-radius: 5px;
    background: #333;
    color: #fff;
}

.card.contact-form textarea {
    resize: none;
}

.card.contact-form button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background: #ff6600;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: none;
    transition: background 0.3s ease-in-out;
}

.card.contact-form button:hover {
    background: #9c3f00;
    transition: background 0.3s ease-in-out;
}
.red-letter {
    color: red;
}

.additional p {
     margin: 5px;
}
header {
    margin: 3vh;
}

#home-icon{
    left: 25px;
    bottom: 40px;
}
#hamburger-icon{
top: 40px;
}

@media (max-width: 768px) {
    
    p.cp{
        margin-top: 50px;
    }

    .card.contact-form{
        border-radius: 0px;
        padding-top: 35px;
        padding-bottom: 35px;
    }

  h1{
    font-size: 2rem;
  }
  #home-icon {
    top: 38px !important;
    left: 15px !important;
    transform: none !important;
  }
  .menu-toggle {
    top: 36px !important;
    

}
}